html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.vh-100 {
    height: 100vh;
}

.card {
    width: 100%;
    margin: 0 auto;
}

a.navbar-brand,
li>a {
    cursor: pointer;
}

.dropdown-menu .dropdown-item {
    padding: 5px 10px !important;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none !important;
}

.navbar-brand i {
    font-size: 1.5rem;
    transform: rotate(40deg);
}

.navbar-brand span {
    font-size: 1rem;
}
